fastapi
uvicorn[standard]
python-multipart
pymupdf
langchain
langchain-community
pydantic-settings
psycopg2-binary

sentence-transformers
qdrant-client

# Phase C: RAG Pipeline
ollama
langchain-text-splitters
neo4j
spacy
